<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>YDbaobao</title>
</head>
<body>
	<h1>회원가입</h1>
	<form th:action="@{/customer/create}" th:object="${customer}" method="post">
		<label for="customerId">아이디</label>
		<input name="customerId" th:field="*{customerId}" />
		<!-- 아이디 중복시 -->
				<c:if test="${not empty message}">
					<span class="errorMessage"> ${ message }</span>
				</c:if>
				<br/>
		<label for="customerName">이름</label>
		<input name="customerName" th:field="*{customerName}" /> <br/>
		<label for="customerPassword">비밀번호</label>
		<input type="password" name="customerPassword" th:field="*{customerPassword}" /> <br/>
		<label for="customerAgainPassword">비밀번호확인</label>
		<input type="password" name="customerAgainPassword"/> <br/>
		<label for="customerPhone">전화번호</label>
		<input name="customerPhone" th:field="*{customerPhone}" /> <br />
		<label for="customerEmail">이메일</label>
		<input name="customerEmail" th:field="*{customerEmail}" /> <br />
		<label for="customerAddress">주소</label>
		<input name="customerAddress" th:field="*{customerAddress}" /> <br />
		<button type="submit">가입</button>
	</form>
</body>
</html>