<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>thymeleaf form test</title>
</head>
<body>
<form action="/thymeleaf" th:action="@{/thymeleaf}" th:object="${TestThymeleaf}" method="post">
	<label for="id">id</label>
	<input id="id" name="id" th:field="*{id}" />
	<label for="name">name</label>
	<input id="name" name="name" th:field="*{name}" />
	<button type="submit">Save</button>
</form>

</body>
</html>