html, body {
	margin: 0;
	padding: 0;
	color: #454545;
}

.wrap {
	margin: 0 auto;
}

.content {
	width: 980px;
}

.contents-nav li {
	list-style: none;
	display: table;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.btn {
	background-color: #EA6576;
	border-radius: 2px;
	border: 0;
	font-size: 20px;
	color: #fff;
	padding: 11px 15px;
	margin: 0;
}

a.prevAndNext {
	display: table;
	position: relative;
	top: 7px;
}

a.prevAndNext>button {
	background-color: white;
}

a.prevAndNext>button:focus {
	outline: none;
}

.selectedIndex {
	color: red;
}

.contents-nav {
	display: table;
	margin: 0 auto;
}

.contents-nav>ul {
	float: left;
	display: inline-flex;
}

ul#util {
	padding: 0;
	margin: 0;
	list-style: none;
	float: right;
	font-size: 12px;
	display: table;
}

ul#util li {
	display: inline-block;
}

ul#util li a {
	text-decoration: none;
	color: #454545;
}

ul#util li a span {
	display: block;
	padding: 10px 5px;
}

.search-message {
	font-size: 20px;
	margin: 10px 0px 0px 10px;
}

#brand-search-container {
	border-bottom: 2px solid #EA6576;
}

#search-bar-container {
	height: 94px;
}

#search-bar-container>a {
	text-decoration: none;
	float: left;
	height: 1px;
}

#search-bar-container>a>img {
	width: 185px;
}

#search-form {
	float: left;
	margin-top: 20px;
	margin-left: 12px;
}

#search-form button {
	background-color: #EA6576;
	border-radius: 2px;
	border: 0;
	font-size: 20px;
	color: white;
	padding: 11px 15px;
	margin: 0;
	height: 44px;
}

#search-bar {
	width: 410px;
	height: 35px;
	border: 5px solid #EA6576;
	font-size: 20px;
	float: left;
	margin-right: 7px;
}

#search-bar>input[type="text"] {
	width: 305px;
	height: 29px;
	outline: none;
	border: none;
	font-size: 17px;
	margin-top: 3px;
}

#search-form select {
	height: 29px;
	width: 90px;
	font-size: 15px;
	background-color: white;
	border: none;
	margin: 3px 0px 0px 2px;
}

#search-form select:focus {
	outline: none;
}

/* _category.jsp */
#category-menu {
	color: #fff;
	outline: 1px solid #EA6576;
}

#category-menu #category-menu-header {
	padding: 15px;
	border-bottom: 1px solid #fff;
	font-weight: 500;
	background-color: #EA6576;
}

#category-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 15px;
	font-weight: 100;
	overflow-y: auto;
	max-height: 450px;
	overflow-x: hidden;
}

#category-menu ul li a {
	color: #EA6576;
	text-decoration: none;
}

#category-menu ul li a span:hover {
	left: 10px;
}

#category-menu ul li a span {
	display: block;
	cursor: pointer;
	left: 0;
	position: relative;
	padding: 7px 15px;
	transition-property: left;
	transition-duration: .3s;
}

/* horizontalCategory.jsp */
#horizontal-category-menu {
	width: 100%;
	outline: 1px solid #EA6576;
}

#horizontal-category-menu ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	max-width: 980px;
}

#horizontal-category-menu ul li {
	display: inline-block;
}

#horizontal-category-menu ul li a {
	color: #EA6576;
	display: block;
	padding: 10px 5px 10px 5px;
	text-decoration: none;
	transition-duration: .3s;
}

#horizontal-category-menu ul li a:hover, #horizontal-category-menu ul li a.active
	{
	color: #fff;
	background-color: #EA6576;
}

/* _brand.jsp */
#brand-initial-tab {
	background-color: #EA6576;
	color: #fff;
}

#brand-initial-tab label {
	display: inline-block;
	padding: 15px;
}

#brand-initial-tab ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	font-weight: 100;
}

#brand-initial-tab ul li {
	display: inline-block;
	margin: 0;
	padding: 1px;
}

#brand-initial-tab ul li span {
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}

#brand-initial-tab ul li.active span {
	background-color: #BB4F5D;
}

#brand-list ul {
	list-style: none;
	margin: 0;
	padding: 20px;
	text-align: center;
}

#brand-list ul li {
	position: relative;
	display: inline-block;
	text-align: left;
}

#brand-list ul li a {
	position: relative;
	display: block;
	text-decoration: none;
	width: 150px;
	padding: 10px;
}

#brand-list ul li span {
	color: #454545;
}

#item-container {
	margin-top: 25px;
	min-height: 600px;
	padding-bottom: 80px;
}

#item-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.item {
	width: 230px;
	margin-left: 9px;
	margin-top: 9px;
	outline: 1px solid #ccc;
	display: inline-block;
	cursor: pointer;
}

.item:hover {
	outline: 1px solid #EA6576;
}

.item a {
	text-decoration: none;
}

.item img {
	max-width: 230px;
	max-height: 230px;
}

.item .item-info {
	padding: 10px;
	background-color: #454545;
	color: #fff;
}

.item .item-info .item-desc {
	font-size: 12px;
}

.item .item-info .item-price {
	color: #EA6576;
	font-weight: 500;
	font-size: 20px;
}

/* cart.jsp */
#cart-section {
	height: 400px;
}

#cart-list {
	width: 600px;
	text-align: center;
}

#order-section {
	margin: 10px 0px 0px 0px;
	text-align: right;
}

/* 로그인/회원가입 폼 */
.loginBox {
	display: block;
	float: left;
	height: 500px;
	width: 784px;
}

form#customer {
	margin: 0 auto;
	display: table;
	position: relative;
	top: 30px;
	padding: 50px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#customer input {
	height: 25px;
	width: 250px;
	font-size: 14px;
	float: left;
	margin-bottom: 10px;
}

#customer label {
	width: 90px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 10px;
	font-size: 14px;
	position: relative;
	top: 3px;
}

#customer button {
	background-color: #EA6576;
	border-radius: 2px;
	border: 0;
	font-size: 20px;
	color: white;
	padding: 8px 24px;
	margin: 0;
	float: right;
}

#customer h1 {
	margin: 0;
	margin-bottom: 10px;
}

.joinForm #customer {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#footer {
	position: relative;
	s min-height: 200px;
	padding: 20px;
	background-color: #888;
	color: #fff;
}