@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


html, body {
	margin: 0;
	padding: 0;
	color: #454545;
	background-color:#f0f0f0;
	height: 100%;
	font-family: 'Nanum Gothic';
}

img {
	border:0;
}

#header {
	width: 100%;
	background-color: #fff;
}

.wrap {
	margin: 0 auto;
}

.content {
	width: 980px;
}

.contents-nav li {
	list-style: none;
	display: inline;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.contents-nav li>a {
	text-decoration: none;
	color: #454545;
}

#main-container {
	position: relative;
	min-height: 100%;
}

.btn {
	background-color: #EA6576;
	border-radius: 2px;
	border: 0;
	font-size: 20px;
	color: #fff;
	padding: 11px 15px;
	margin: 0;
	cursor: pointer;
}

.home {
	float: left;
	list-style: none;
	color: #454545;
	font-size: 20px;
	padding-top: 5px;
}

.home a {
	color: #454545;
}

a.prevAndNext {
	display: inline;
	position: relative;
	top: -3px;
}

a.prevAndNext>button {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	border-radius: 4px;
	-webkit-appearance: button;
}

a.prevAndNext>button:focus {
	outline: none;
}

.selectedIndex {
	color: red;
}

.contents-nav {
	display: table;
	margin: 0 auto;
	margin-top: 15px;
}

.contents-nav>ul {
	float: left;
	display: inline;
}

ul#util {
	padding: 0;
	margin: 0;
	list-style: none;
	float: right;
	font-size: 12px;
	display: table;
}

ul#util li {
	display: inline-block;
}

ul#util li a {
	text-decoration: none;
	color: #454545;
}

ul#util li a span {
	display: block;
	padding: 10px 5px;
}

li.qty {
  width: 125px;
  text-align: right;
	margin-right: 10px;
}

input.qty-selector {
  float: right;
  width: 75px;
}

button.plusMinus-btn {
	width: 50px;
	height: 20px;
	cursor: pointer;
}

div#btnBox {
	width: 50px;
}

ul#quantity {
  float: left;
}

#sizeBox::after {
		content: "";
		clear: both;
		display: block;
}

button.btn.addtocart {
  float: right;
}

.search-message {
	font-size: 20px;
	margin: 10px 0px 0px 10px;
}

#brand-search-container {
	border-bottom: 2px solid #EA6576;
	height: 90px;
}

#search-bar-container>a {
	text-decoration: none;
	float: left;
	margin-top: 5px;
}

#search-form {
	position: relative;
	display: table;
	margin: 0 auto;
	top: 20px;
	left: -133px;
}

#search-form button {
	padding: 11px 15px;
	height: 44px;
}

#search-bar {
	width: 410px;
	height: 35px;
	border: 5px solid #EA6576;
	font-size: 20px;
	float: left;
	margin-right: 7px;
}

#search-bar>input[type="text"] {
	width: 300px;
	height: 29px;
	outline: none;
	border: none;
	font-size: 17px;
}

#search-form select {
	height: 29px;
	width: 67px;
	font-size: 15px;
	color: black;
	background-color: white;
	border: 0;
	border-right: 1px solid #EA6576;
	border-radius: 0;
	padding: 6px;
	margin: 3px 0px 0px 2px;
	-webkit-appearance: none;
	vertical-align: top;
	-moz-appearance: none;
	cursor:pointer;
}

#search-form select:focus {
	outline: none;
}

/* input type number spinner hide*/
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	text-align: right;
	-moz-appearance: textfield;
}

/* showcase */
#showcase {
	position: relative;
	width: 100%;
	height: 500px;
	text-align: center;
}

/* horizontalCategory.jsp */
#horizontal-category-menu {
	width: 100%;
	border-bottom: 1px solid #bebebe;
	background-color: #fff;
}

#horizontal-category-menu ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	max-width: 980px;
}

#horizontal-category-menu ul li {
	display: inline-block;
}

#horizontal-category-menu ul li a {
	color: #EA6576;
	display: block;
	padding: 10px 5px 10px 5px;
	text-decoration: none;
	transition-duration: .3s;
	font-size:13px;
}

#horizontal-category-menu ul li a:hover, #horizontal-category-menu ul li a.active
	{
	color: #fff;
	background-color: #EA6576;
}

/* _brand.jsp */
#brand-initial-tab {
	background-color: #EA6576;
	outline: 1px solid #C35563;
	color: #fff;
}

#brand-initial-tab label {
	display: inline-block;
	padding: 15px;
	border-right: 1px solid #C35563;
}

#brand-initial-tab ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	font-weight: 100;
}

#brand-initial-tab ul li {
	display: inline-block;
	margin: 0;
	padding: 1px;
}

#brand-initial-tab ul li span {
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}

#brand-initial-tab ul li.active span {
	background-color: #BB4F5D;
}

#brand-list {
	background-color: #fff;
	border: 1px solid #bebebe;
}

#brand-list ul {
	list-style: none;
	margin: 0;
	padding: 20px;
}

#brand-list ul li {
	position: relative;
	display: inline-block;
	text-align: left;
}

#brand-list ul li a {
	position: relative;
	display: block;
	text-decoration: none;
	width: 150px;
	padding: 10px;
	color: #454545;
}

#item-container {
	margin-top: 25px;
	min-height: 600px;
	padding-bottom: 80px;
	outline:1px solid #bebebe;
	background-color: #fff;
}

#item-container h2, #product-display h2 {
	margin: 0;
  	display: table;
 	padding: 15px 35px;
  	left: -5px;
  	margin: 20px 0;
  	position: relative;
  	top: 15px;
  	background-color: #EA6575;
  	color: white;
  	font-weight: 500;
  	font-size: 25px;
}

#item-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.item {
	width: 230px;
	margin-left: 9px;
	margin-top: 9px;
	display: inline-block;
	cursor: pointer;
}

.item:hover {
	outline: 1px solid #E38690;
}

.item a {
	text-decoration: none;
}

.item img {
	max-width: 230px;
	max-height: 230px;
}

.item .item-info {
	padding: 10px;
	background-color: #fff;
	color: #454545;
}

.item .item-info .item-desc {
	font-size: 12px;
}

.item .item-info .item-price, .item .item-info .item-soldout {
	color: #EA6576;
	font-weight: 500;
	font-size: 20px;
}

/* cart.jsp */
#cart-section {
	min-height: 400px;
}

#cart-list, #order-list {
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

#order-section {
	margin: 10px 0px 0px 0px;
	text-align: right;
}

/* 濡쒓렇�씤/�쉶�썝媛��엯 �뤌 */
.loginBox {
	display: block;
	height: 500px;
}

form#customer {
	margin: 0 auto;
	display: table;
	position: relative;
	background-color:#fff;
	top: 30px;
	padding: 50px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#customer input {
	height: 25px;
	width: 250px;
	font-size: 14px;
	margin-bottom: 10px;
}

#customer label {
	width: 90px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 10px;
	font-size: 14px;
	position: relative;
	top: 3px;
}

#customer button {
	background-color: #EA6576;
	border-radius: 2px;
	border: 0;
	font-size: 20px;
	color: white;
	padding: 8px 24px;
	margin: 0;
	float: right;
	cursor: pointer;
}

#customer h1 {
	margin: 0;
	margin-bottom: 10px;
}

.joinForm #customer {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#footer {
	position: relative;
	width:100%;
	margin-top:25px;
	min-height: 50px;
	padding: 10px 0;
	background-color: #888;
	color: #fff;
	font-weight:100;
	font-size:12px;
}

#progress-info {
	position: relative;
	border-bottom: 5px solid #EA6576;
	margin-bottom: 15px;
	color: #ccc;
}

#progress-info div {
	display: inline-block;
	font-size: 45px;
	padding: 10px;
	width: 31%;
}

#progress-info div.on {
	color: #454545;
}

.fa-chevron-right {
	float: right;
	color: #454545;
}
